.AuthNav {
  width: 280px;
  margin: 0 auto;
  // height: 50px;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.link {
  font-family: 'Circe', sans-serif;
  display: inline-block;
  padding: 13px 58px;
  width: 100%;
  background-color: #ffffff;
  color: #4a56e2;
  font-weight: 400;
  font-size: 18px;
  height: 50px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #4a56e2;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: 768px) {
    padding: 13px 68px;
  }

  @media screen and (min-width: 1280px) and (max-height: 719px) {
    height: 40px;
    font-size: 16px;
    padding: 5px 50px;
  }

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    height: 50px;
    font-size: 18px;
    padding: 13px 68px;
  }
}

// .activeLink {
//   composes: link;
//   color: #4a56e2;
// }
