@font-face {
  font-family: 'Poppins';
  src: url('../assets/fontsPoppins-Regular.eot');
  src: local('☺'), url('../assets/fontsPoppins-Regular.woff') format('woff'),
    url('../assets/fontsPoppins-Regular.ttf') format('truetype'),
    url('../assets/fontsPoppins-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fontsPoppins-Bold.eot');
  src: local('☺'), url('../assets/fontsPoppins-Bold.woff') format('woff'),
    url('../assets/fontsPoppins-Bold.ttf') format('truetype'),
    url('../assets/fontsPoppins-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../assets/fontsCirce-Regular.eot');
  src: local('☺'), url('../assets/fontsCirce-Regular.woff') format('woff'),
    url('../assets/fontsCirce-Regular.ttf') format('truetype'),
    url('../assets/fontsCirce-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../assets/fontsCirce-Bold.eot');
  src: local('☺'), url('../assets/fontsCirce-Bold.woff') format('woff'),
    url('../assets/fontsCirce-Bold.ttf') format('truetype'),
    url('../assets/fontsCirce-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
} ;
