//Colors

// -------other------

$background-color: #e5e5e5;
$amethyst-color: #c5baff;
$dark-peach-color: #ffd8d0;
//------btn color---------------
$btn-accent-color: #24cca7;
$dark-pink-color: #ff6596;
$dark-powder-blue-color: #4a56e2; //color btn text
$persian-blue-color: #6e78e8;
//---------------------------
$white-color: #ffffff;
$gray-color: #e0e0e0; //login text color

// ------text-----
$black-color: #000000;

//-----Modal-----
$background-shadow-color: rgba(0, 0, 0, 0.25);
$film-details: #8c8c8c;

//Font-family
$main-font: 'Roboto', sans-serif;

//Transition
$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
