@font-face {
  font-family: 'Poppins';
  src: local('☺'), url('../assets/fontsPoppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('☺'), url('../assets/fontsPoppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: local('☺'), url('../assets/fontsCirce-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: local('☺'), url('../assets/fontsCirce-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
