.box {
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.switch_for {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  margin-left: 10px;
}

.income {
  margin-right: 24px;
}

.costs {
  margin-left: 24px;
}

.costs,
.income {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  font-family: 'Circe', sans-serif;
  color: #e0e0e0;
  transition: all 250ms ease;
}

.costs.checked {
  color: #ff6596;
}

.income.checked {
  color: #24cca7;
}

.offColor {
  color: #24cca7;
}

.switch_for input[type='checkbox'] {
  display: none;
}

.switch_for .switch {
  position: absolute;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.switch_for .switch::before {
  position: absolute;
  content: url('../../icons/minus.svg');
  left: -5px;
  top: -3px;
  width: 44px;
  height: 44px;
  background-color: #ff6596;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-left: 12px;

  box-shadow: 0px 11px 20px 6px rgba(252, 86, 202, 0.5);
  transition: all 0.3s ease;
  transform: translateX(40px);
}

.switch_for input[type='checkbox']:checked + .switch::before {
  transform: translateX(0);
  content: url('../../icons/plus.svg');
  background-color: #24cca7;
  padding-top: 11px;
  padding-left: 11px;
  box-shadow: 0px 11px 20px 6px rgba(47, 231, 201, 0.5);
}
