.Button {
  display: block;
  margin: 6px auto 0 auto;
  padding: 13px 58px;
  width: 280px;
  background-color: #24cca7;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  // border: none;
  border: 1px solid #24cca7;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover,
  &:focus {
    transform: scale(1.03);
  }

  @media screen and (min-width: 768px) {
    min-width: 300px;
    padding: 13px 68px;
    margin-top: 16px;
  }

  @media screen and (min-width: 1280px) and (max-height: 719px) {
    height: 40px;
    font-size: 16px;
    padding: 5px 50px;
  }

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    height: 50px;
    font-size: 18px;
    padding: 13px 58px;
  }
}

.Button:disabled {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  color: gray;
}

.ButtonSecondary {
  composes: Button;

  background-color: #ffffff;
  color: #4a56e2;
  border: 1px solid #4a56e2;
  margin-top: 20px;
}
