.dashboard {
  padding-top: 60px;
  background-color: #e7eaf2;
}

@media screen and (min-width: 768px) {
  .dashboard {
    padding: 20px 40px 0px 40px;
    background-image: #e7eaf2;
    & .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 1280px) {
  .dashboard {
    padding: 40px 85px 0px 85px;
    position: relative;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      min-height: 100vh;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (min-width: 768px) {
  .dashboard {
    background-position: left bottom, right top 80px;
    background-repeat: no-repeat;
    position: relative;
  }

  .dashboard::before {
    content: '';
    display: block;
    width: 456px;
    height: 486px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../assets/images/ellipse-pink.png);
    background-size: cover;
    filter: blur(50px);
  }

  .dashboard::after {
    content: '';
    display: block;
    width: 539px;
    height: 439px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../../assets/images/ellipse-violet.png);
    background-size: cover;
    filter: blur(50px);
  }

  .wrapper {
    width: 688px;
    height: calc(100% - 80px);
    z-index: 2;
    position: relative;
  }
}

@media (min-width: 1280px) {
  .dashboard::before {
    content: '';
    display: block;
    width: 640px;
    height: 486px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../assets/images/ellipse-pink.png);
    background-size: cover;
    filter: blur(50px);
  }

  .wrapper {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dashboard__aside {
    position: absolute;
    left: 390px;
    top: -50px;
    height: 770px;
    height: 100%;
    margin-bottom: 0;
    border-right: 1px solid #e7e5f2;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      1px 0px 0px rgba(255, 255, 255, 0.6);

    @media (max-width: 768px) {
      opacity: 0;
    }
  }
}
