.dashboard {
  background-color: rgba(255, 255, 255, 0.4);
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .dashboard {
    padding: 20px 40px 0px 40px;

    & .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      min-height: 100vh;
    }
  }
}

@media screen and (min-width: 1280px) {
  .dashboard {
    padding: 45px 85px 0px 85px;
    position: relative;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      min-height: 100vh;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.dashboard {
  background-color: rgba(238, 238, 238, 0.4);
  // min-height: 100vh;
}

.dashboard__currency_wrapper {
  display: none;
}

@media (min-width: 768px) {
  .dashboard {
    background-image: rgba(238, 238, 238, 0.4);
    background-position: left bottom, right top 80px;
    background-repeat: no-repeat;
    position: relative;
  }

  .dashboard::before {
    content: '';
    display: block;
    width: 456px;
    height: 486px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../assets/images/ellipse-pink.png);
    background-size: cover;
    filter: blur(50px);
  }

  .dashboard::after {
    content: '';
    display: block;
    width: 539px;
    height: 439px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../../assets/images/ellipse-violet.png);
    background-size: cover;
    filter: blur(50px);
  }

  .wrapper {
    width: 688px;
    height: calc(100% - 80px);
    z-index: 2;
    position: relative;
  }

  .dashboard__aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 174px;
    margin-bottom: 40px;
  }

  .dashboard__currency_wrapper {
    display: table;
  }
}

@media (min-width: 1280px) {
  .dashboard::before {
    content: '';
    display: block;
    width: 640px;
    height: 486px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../assets/images/ellipse-pink.png);
    background-size: cover;
    filter: blur(50px);
  }

  .wrapper {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dashboard__aside {
    width: 380px;
    height: 100%;
    margin-bottom: 0;
    border-right: 1px solid #e7e5f2;
  }

  .content__wrapper {
    width: 700px;
  }
}
