.Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 40px;

  @media screen and (min-width: 1280px) and (max-height: 719px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) and (min-height: 800px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1280px) and (min-height: 960px) {
    margin-top: 40px;
  }
}

.Field {
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 10px 20px 10px 22px;
  border: none;
  background-color: #ffffff;
  outline: none;

  @media screen and (min-width: 1280px) and (max-height: 719px) {
    padding: 3px 10px 3px 12px;
    height: 40px;
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    padding: 5px 10px 5px 12px;
    height: 46px;
    font-size: 18px;
  }

  @media screen and (min-width: 1280px) and (min-height: 960px) {
    height: 50px;
    padding: 10px 20px 10px 22px;
  }
}

.Field::placeholder {
  color: #bdbdbd;
  font-size: 18px;
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}
