.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 320px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.notFound {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding: 20px;
  position: absolute;
  left: 0px;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    left: 50%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 50px;
    left: 35%;
  }
}

.image {
  width: 250px;
  height: 250px;
  margin-top: 200px;

  @media screen and (min-width: 768px) {
    width: 500px;
    height: 500px;
    margin: 0px;
    transform: rotate(8deg);
  }

  @media screen and (min-width: 1200px) {
    width: 600px;
    height: 600px;
    margin: 0px;
    position: absolute;
    top: 200px;
    left: 30px;
    padding: 15px;
    transform: rotate(8deg);
  }
}

.text {
  text-decoration: none;
  padding: 20px;
  font-family: 'Poppins', sans-serif;

  border-width: 0; // хотя это значение равно 0 по умолчанию
  background-color: rgba(221, 221, 221, 0.315);
  border-radius: 15px;
  // padding: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 400;
    width: 500px;
    position: absolute;
    right: 100px;
    bottom: 100px;
  }
}

.link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  background-color: transparent;
  color: #24cca7;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    font-weight: 400;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
