.SignupContainer {
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 540px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 56.25%;
    height: 100vh;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
  }
}

.LoginContainer {
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 540px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 56.25%;
    height: 100vh;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
  }
}

.LoginFormContainer {
  background-color: #ffffff;
  // padding-top: 36px;
  // padding-bottom: 36px;
  // padding-right: 20px;
  padding: 36px 20px;

  @media screen and (min-width: 768px) {
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
  }
}

.SignupFormContainer {
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 36px;

  @media screen and (min-width: 768px) {
    padding: 40px 65px 60px 65px;
    width: 540px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// .SignupContainer {
//   background-color: #ffffff;

//   @media screen and (min-width: 768px) {
//     width: 540px;
//     border-radius: 20px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 56.25%;
//     height: 100vh;
//     border-radius: 0;
//     background-color: rgba(255, 255, 255, 0.4);
//     backdrop-filter: blur(50px);
//     padding-bottom: 12px;
//   }

//   @media screen and (min-width: 1280px) and (max-height: 719px) {
//     padding-top: 30px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 720px) {
//     padding-top: 52px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 768px) {
//     padding-top: 72px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 800px) {
//     padding-top: 95px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 960px) {
//     padding-top: 110px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 1024px) {
//     padding-top: 150px;
//   }
// }

// .LoginContainer {
//   background-color: #ffffff;

//   @media screen and (min-width: 768px) {
//     width: 540px;
//     border-radius: 20px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 56.25%;
//     height: 100vh;
//     border-radius: 0;
//     background-color: rgba(255, 255, 255, 0.4);
//     backdrop-filter: blur(50px);
//     padding-bottom: 10px;
//   }

//   @media screen and (min-width: 1280px) and (max-height: 719px) {
//     padding-top: 54px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 720px) {
//     padding-top: 110px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 768px) {
//     padding-top: 120px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 800px) {
//     padding-top: 140px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 960px) {
//     padding-top: 180px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 1024px) {
//     padding-top: 230px;
//   }
// }

// .LoginFormContainer {
//   background-color: #ffffff;
//   padding-top: 36px;
//   padding-bottom: 36px;

//   @media screen and (min-width: 768px) {
//     padding: 40px 65px 60px 65px;
//     border-radius: 20px;
//   }

//   @media screen and (min-width: 1280px) {
//     margin-left: auto;
//     margin-right: auto;
//     width: 540px;
//   }
// }

// .SignupFormContainer {
//   background-color: #ffffff;
//   padding-top: 36px;
//   padding-bottom: 36px;

//   @media screen and (min-width: 768px) {
//     padding: 40px 65px 60px 65px;
//     border-radius: 20px;
//   }

//   @media screen and (min-width: 1280px) {
//     margin-left: auto;
//     margin-right: auto;
//     width: 540px;
//   }

//   @media screen and (min-width: 1280px) and (max-height: 719px) {
//     padding: 25px 65px 30px 65px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 720px) {
//     padding: 25px 65px 40px 65px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 960px) {
//     padding: 40px 65px 60px 65px;
//   }
// }
