.container {
  width: 540px;
  height: 540px;
  border-radius: 20px;
  background-color: #ffffff;
  /* position: fixed;*/
  left: 50%;
  top: 50%;
  /* transform: translate(50%, -50%); */
  border: 1px solid black;
  margin: 0px;
}

.box {
  margin: 40px 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

.form {
  //display: flex;
  //flex-wrap: wrap;
  margin: 40px 80px 60px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  //display: flex;
  //align-items: center;
  text-align: center;
  color: #000000;
  //padding: 0;
  //margin: 0;
}

.formBox {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between; */
  /* flex-direction: column; */
  align-items: center;
}

.formBox input,
.formBox textarea,
.formBox select {
  outline: none;
}

.labelBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputRadio {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  cursor: pointer;
}

.categoryBox {
  width: 409.5px;
  height: 34px;
  margin: 40px 0px;
}
.inputNumber,
.inputDate {
  width: 185px;
  height: 34px;
  border: none;
  border-bottom: 2px solid #b9c9d4;
  margin-bottom: 40px;
}

.inputNumber::placeholder {
  text-align: center;
}
.inputDate {
  margin-left: 35px;
  text-align: end;
}
.inputNumber {
  text-align: center;
}

.inputCategory {
  width: 409.5px;
  height: 34px;
  border: none;
  border-bottom: 2px solid #b9c9d4;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
}

.textareaBox {
  width: 281px;
}

.textarea {
  width: 409.5px;
  height: 34px;
  border: none;
  border-bottom: 2px solid #b9c9d4;
  resize: none;
  padding: 5px;
  outline: none;
}

::placeholder {
  width: 139px;
  height: 24px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
  border: none;
}
.btnBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.button {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #24cca7;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  outline: none;
  cursor: pointer;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.button2 {
  width: 300px;
  height: 50px;

  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #4a56e2;
  color: #4a56e2;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
