.Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Field {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 10px 20px 10px 22px;
  border: none;
  background-color: #ffffff;
  outline: none;
}

.Field::placeholder {
  color: #bdbdbd;
  font-size: 18px;
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.Field:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
}
