.Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Label {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 40px;
  padding-left: 14px;
  border-bottom: 1px solid #e0e0e0;
}

.Field {
  width: 100%;
  padding: 10px 20px 10px 22px;
  border: none;
  background-color: #ffffff;
  outline: none;
}

.Field::placeholder {
  color: #bdbdbd;
  font-size: 18px;
  font-family: 'Circe';
  font-weight: 400;
  line-height: 1.5;
}
