.mobile-list {
  list-style: none;
  border-radius: 10px;
  border-left: 5px solid #ff6596;
  background-color: #fff;
  padding: 0;
  &--plus {
    border-left-color: #24cca7;
  }

  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 47px;
    &:not(:last-child) {
      border-bottom: 1px solid #dcdcdf;
    }
  }
  &_category {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;

    text-align: right;
  }
  &_data {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    &--plus {
      color: #24cca7;
    }
    &--minus {
      color: #ff6596;
    }
  }
}
