.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1200;
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.041);
  transition: all 0.3s;
  animation: showBackdrop 0.3s ease-out;
}

.modal {
  background: #ffffff;
  width: 540px;
  height: 540px;
  border-radius: 20px;
  transition: all 0.3s;
  animation: showModal 0.3s ease-out;
}

.modal-header {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.modal_header h3 {
  margin: 0;
  font-size: 20px;
}

.modal_body {
  padding: 10px 20px;
}

.backdrop-hide {
  opacity: 0;
}

.backdrop-hide .modal {
  opacity: 0;
  transform: translateY(-500px);
}
