// .navigation {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   padding-top: 13px;
//   padding-bottom: 13px;

//   @media screen and (min-width: 768px) {
//     display: grid;
//     justify-content: start;
//   }
// }

// .navLink {
//   text-decoration: none;
// }

// .navLink .active {
//   text-transform: none;
// }

// .buttonNav {
//   border: none;
//   outline: none;
//   cursor: pointer;
//   border-radius: 6px;
//   width: 44px;
//   height: 44px;

//   @media screen and (min-width: 768px) {
//     display: flex;
//     margin-left: 6px;
//     margin-right: 6px;
//     background-color: transparent;
//     border-radius: 2px;
//     outline: none;
//     cursor: pointer;
//   }
// }

// .svgNav {
//   width: 44px;
//   height: 44px;
//   border-radius: 6px;
//   background-color: transparent;
//   fill: #6e78e8;
//   padding: 0px;

//   @media screen and (min-width: 768px) {
//     width: 18px;
//     height: 18px;
//     margin-right: 23px;
//     border-radius: 2px;
//   }
// }

// .active .svgNav {
//   fill: #4a56e2;
//   background-color: #fff;
//   filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
// }

// @media screen and (min-width: 768px) {
//   .boxNav {
//     display: flex;
//     align-items: center;
//     fill: #6e78e8;
//     background-color: transparent;
//   }

//   .textNav {
//     font-family: 'Poppins', sans-serif;
//     font-style: normal;
//     font-size: 18px;
//     line-height: 1.5;
//     font-weight: 400;
//     color: #000000;
//   }

//   .active .textNav {
//     font-weight: 700;
//   }
// }

.navLink {
  text-decoration: none;
}

.navLink .active {
  text-transform: none;
}

.svgNav {
  fill: #6e78e8;
  padding: 0px;
}

.navLinkActive .svgNav {
  fill: #4a56e2;
  background-color: #fff;
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
}

@media screen and (min-width: 320px) {
  .navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .svgNav {
    width: 38px;
    height: 38px;
    border-radius: 6px;
    background-color: transparent;
  }
  .textNav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: grid;
    justify-content: start;
    padding: 0;
    margin-bottom: 30px;
  }

  .boxNav {
    display: flex;
    align-items: center;
    fill: #6e78e8;
    background-color: transparent;
    // padding-top: 5px;
    padding-bottom: 5px;
  }

  .textNav {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
  }

  .navLinkActive .textNav {
    font-weight: 700;
  }

  .svgNav {
    width: 18px;
    height: 18px;
    margin-right: 23px;
    border-radius: 2px;
  }
}
