// @import '../../stylesheet/breakpoints';
// @import '../../stylesheet/variables';

// .statsContainer {
//   @media screen and (max-width: 767px) {
//     width: 280px;
//     margin-top: 40px;
//     margin-bottom: 40px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 700px;
//     margin-top: 40px;
//     margin-bottom: 40px;
//   }

//   @media screen and (max-width: 1279px) {
//     margin-left: auto;
//     margin-right: auto;
//   }

//   @media screen and (max-width: 1279px) and (min-width: 768) {
//     margin-top: 30px;
//     margin-bottom: 30px;
//   }
// }

// .title {
//   font-weight: 400;
//   //@include font(30px, 45px);
//   color: $black-color;

//   @media screen and (max-width: 767px) {
//     margin-bottom: 10px;
//   }
//   @media screen and (min-width: 768px) {
//     margin-bottom: 20px;
//   }
// }

// .statsWrapper {
//   display: flex;

//   @media screen and (max-width: 767px) {
//     flex-direction: column;
//   }
//   @media screen and (min-width: 768px) {
//     flex-direction: row;
//   }
// }

// .chartTab {
//   @media screen and (min-width: 768px) and (max-width: 1279px) {
//     margin-right: 35px;
//   }

//   @media screen and (min-width: 1280px) {
//     margin-right: 30px;
//   }
// }

.StatisticsTitle {
  font-family: $secondary-font;
  font-weight: normal;
}

.ContainerStats {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .ContainerStats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .SectionStats {
    display: flex;
    flex-direction: column;
  }
}
