.RegistrationPage {
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    padding: 60px 114px 50px 114px;
    width: 768px;

    background-color: #e7eaf2;
    background-image: url('../../assets/images/ellipse-violet.png'),
      url('../../assets/images/ellipse-pink.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    padding: 0;
    width: 1280px;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // align-content: center;
    // padding-bottom: 100px;
  }
}

.ImgContent {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 170px;
    left: 66px;

    flex-direction: column;
    margin-right: 42px;
    // padding-top: 170px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.svgSignup {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 274px;
    height: 250px;
    // background-image: url('../../assets/images/signup-img-tablet.png');
    // background-repeat: no-repeat;
    // background-position: left top;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
    width: 453px;
    height: 413px;
    // background-image: url('../../assets/images/signup-img-desk.png');
    // background-position: top center;
  }
}

.SignupContent {
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 540px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 52px;
    padding-bottom: 52px;
    width: 56.25%;
    height: 100%;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
  }
}

.SignupForm {
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 36px;

  @media screen and (min-width: 768px) {
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    // position: absolute;
    // top: 52px;
    // right: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 540px;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateY(-50%, -50%);
  }
}
