.RegistrationPage {
  background-color: #e7eaf2;

  @media screen and (min-width: 768px) {
    width: 768px;
    background-image: url('../../images/ellipse-rose-tablet.png');
    background-repeat: no-repeat;
    background-position: right 0;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    margin-top: 150px;
    margin-right: 50px;
  }
}

.Img {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-top: 60px;
    margin-right: 50px;
    width: 250px;
    height: 250px;
    background-image: url('../../images/signup-page-tablet.png');
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../../images/signup-page-desk.png');
    background-repeat: no-repeat;
  }
}

.ImgContent {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: column;
  }
}

.SignupContent {
  background-color: #ffffff;
  padding-top: 42px;
  padding-bottom: 36px;

  @media screen and (min-width: 768px) {
    // width: 100%;
    // height: 100%;
    width: 540px;
    height: 616px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../images/bg-reg-form.png');
    background-repeat: no-repeat;
    // background-position: center 120px;
  }
}

.Form {
  display: flex;
  flex-direction: column;
}

.Label {
  display: flex;
  align-items: center;
  font-weight: bold;

  margin-bottom: 40px;
  border-bottom: 1px solid #e0e0e0;
}

.Field {
  width: 100%;
  padding: 10px 0 10px 24px;
  border: none;
  background-color: #fff;
  outline: none;
}

.Field::placeholder {
  color: #bdbdbd;
  font-size: 18px;
  font-family: 'Circe';
  font-weight: 400;
  line-height: 1.5;
}
