.table {
  display: block;
  min-width: 688px;
  margin: 0 auto;

  // margin-right: 85px;
  @media screen and (min-width: 1280px) {
    width: 700px;
  }
}
.table-head {
  display: block;

  &_row {
    margin-top: 20px;
    padding: 16px 21px 15px 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
  &_data {
    font-family: 'Circe', 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    &:nth-child(1) {
      flex-basis: 72px;
      margin-right: 10px;
    }
    &:nth-child(2) {
      text-align: center;
      flex-basis: 50px;
      margin-right: 20px;
    }
    &:nth-child(3) {
      flex-basis: 126px;
      margin-right: 20px;
    }
    &:nth-child(4) {
      flex-basis: 124px;
      margin-right: 20px;
    }
    &:nth-child(5) {
      flex-basis: 80px;
      margin-right: 20px;
      text-align: right;
    }
    &:nth-child(6) {
      flex-basis: 95px;
      text-align: right;
    }
  }
}

.table-body {
  display: block;
  max-height: 90vh;
  overflow: auto;
  &_row {
    display: flex;
    align-items: center;
    min-height: 54px;

    padding: 0px 21px 0px 20px;
    &:not(:last-child) {
      border-bottom: 1px solid #dcdcdf;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    }
  }
  &_data {
    font-family: 'Circe', 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;

    &--plus {
      color: #24cca7;
    }
    &--minus {
      color: #ff6596;
    }

    &:nth-child(1) {
      flex-basis: 72px;
      margin-right: 10px;
    }
    &:nth-child(2) {
      text-align: center;
      flex-basis: 50px;
      margin-right: 20px;
    }
    &:nth-child(3) {
      flex-basis: 126px;
      margin-right: 20px;
      text-align: left;
    }
    &:nth-child(4) {
      text-align: left;
      flex-basis: 124px;
      margin-right: 20px;
      text-align: left;
    }
    &:nth-child(5) {
      margin-right: 20px;
      flex-basis: 80px;
      text-align: right;
    }
    &:nth-child(6) {
      flex-basis: 95px;
      text-align: right;
    }
  }

  @media screen and (min-width: 1280px) {
    max-height: 80vh;
    overflow: auto;
  }
}
