.LoginPage {
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    padding: 60px 114px 196px 114px;
    width: 768px;

    background-color: #e7eaf2;
    background-image: url('../../assets/images/ellipse-violet.png'),
      url('../../assets/images/ellipse-pink.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    padding: 0;
    width: 1280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // align-content: center;
  }

  @media screen and (min-width: 1280px) and (max-height: 719px) {
    position: relative;
    min-height: 100%;
  }

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    position: relative;
    height: 100vh;
  }
}

.ImgContent {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: column;
    margin-right: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) and (max-height: 719px) {
    position: absolute;
    top: 60px;
    left: 76px;
  }

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    position: absolute;
    top: 150px;
    left: 76px;
  }

  @media screen and (min-width: 1280px) and (min-height: 800px) {
    position: absolute;
    top: 170px;
    left: 76px;
  }

  @media screen and (min-width: 1280px) and (min-height: 960px) {
    position: absolute;
    top: 250px;
    left: 76px;
  }

  @media screen and (min-width: 1280px) and (min-height: 1024px) {
    position: absolute;
    top: 300px;
    left: 76px;
  }
}

.svgLoginImg {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 260px;
    height: 250px;
    // background-image: url('../../assets/images/login-img-tablet.png');
    // background-repeat: no-repeat;
    // background-position: left top;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
    width: 435px;
    height: 420px;
    // background-image: url('../../assets/images/login-img-desk.png');
    // background-position: top center;
  }
}

.LoginContent {
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 540px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 56.25%;
    height: 100vh;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    padding-bottom: 10px;
  }

  @media screen and (min-width: 1280px) and (max-height: 719px) {
    padding-top: 24px;
  }

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    padding-top: 110px;
  }

  @media screen and (min-width: 1280px) and (min-height: 768px) {
    padding-top: 120px;
  }

  @media screen and (min-width: 1280px) and (min-height: 800px) {
    padding-top: 140px;
  }

  @media screen and (min-width: 1280px) and (min-height: 960px) {
    padding-top: 180px;
  }

  @media screen and (min-width: 1280px) and (min-height: 1024px) {
    padding-top: 230px;
  }
}

.LoginForm {
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 36px;

  @media screen and (min-width: 768px) {
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }
}
