.head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.Heading {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

.svgLogo {
  width: 30px;
  height: 30px;
  margin-right: 14px;

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
