.ButtonIconClose {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;

  cursor: pointer;
  // outline: none;
  // скрытие кнопки закрытия на мобилке
  /*  @media screen and (max-width: 320px) {
    visibility: hidden;
  } */
}

.ButtonIconClose svg {
  width: 16px;
  height: 16px;
  color: #000;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #24cca7;
    fill: currentColor;
  }
}

.ButtonIconAdd {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 44px;
  height: 44px;
  background-color: #24cca7;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  font-family: 'Montserrat';
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);

  @media (min-width: 768px) {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 10;
  }

  @media (min-width: 1280px) {
    position: fixed;
    bottom: 40px;
    right: 85px;
  }
}

.btnLogout {
  padding: 0;
  color: #bdbdbd;
  background-color: #ffffff;
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  border: none;
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ff6596;
  }
}

.BtnGoogle {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 13px 10px;
  justify-content: center;
  min-width: 280px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #4a56e2;
  background: #ffffff;

  font-family: 'Circe', sans-serif;
  color: #4a56e2;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  // text-transform: uppercase;
  transform: scale(1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transform: scale(1.03);
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    min-width: 300px;
    padding: 13px 20px;
  }

  @media screen and (min-width: 1280px) and (max-height: 719px) {
    height: 40px;
    font-size: 16px;
    padding: 5px 20px;
  }

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    height: 50px;
    font-size: 18px;
    padding: 13px 20px;
  }
}
