.ImgContent {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 50%;
    left: 66px;
    transform: translate(0, -50%);
    flex-direction: column;
    // margin-right: 42px;
    // padding-bottom: 0;
    margin-bottom: 0;
  }
}

////////////////////////////////////////

// .ImgContent {
//   display: none;

//   @media screen and (min-width: 768px) {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     margin-bottom: 50px;
//   }

//   @media screen and (min-width: 1280px) {
//     flex-direction: column;
//     margin-right: 42px;
//     padding-bottom: 0;
//     margin-bottom: 0;
//   }

//   @media screen and (min-width: 1280px) and (max-height: 719px) {
//     position: absolute;
//     top: 50px;
//     left: 66px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 720px) {
//     position: absolute;
//     top: 150px;
//     left: 66px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 800px) {
//     position: absolute;
//     top: 200px;
//     left: 66px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 960px) {
//     position: absolute;
//     top: 250px;
//     left: 66px;
//   }

//   @media screen and (min-width: 1280px) and (min-height: 1024px) {
//     position: absolute;
//     top: 300px;
//     left: 66px;
//   }
// }
